<extend name="Common/edit"/>
<block name="css">
    <link href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
</block>
<block name="form">
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">分类名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">父分类</td>
                    <td>
                        <!--保存父分类的ID-->
                        <input type="hidden"  class="parent_id" name="parent_id" value="0">
                        <!--存放父分类名字.-->
                        <input type='text' class="parent_name" name='parent_name' maxlength='60' value='默认为顶级分类' disabled="disabled"/>
                        <span  class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        <style type="text/css">
                            .ztree{
                                margin-top: 10px;
                                border: 1px solid #617775;
                                background: #f0f6e4;
                                width: 220px;
                                height: auto;
                                overflow-y: scroll;
                                overflow-x: auto;
                            }
                        </style>
                        <ul id="treeDemo" class="ztree"></ul>
                    </td>
                </tr>

                <tr>
                    <td class="label">分类简介</td>
                    <td>
                        <textarea name='intro' cols='60' rows='4'>{$intro}</textarea> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type='radio' class='status' name='status' value='1'/> 是<input type='radio' class='status'
                                                                                             name='status' value='0'/> 否
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><br/>
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button " value=" 确定 "/>
                        <input type="reset" class="button" value=" 重置 "/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.all-3.5.js"></script>

    <script type="text/javascript">
        $(function(){


            //树结构的设置
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback: {
                    onClick: function(event, treeId, treeNode){  //treeNode就是点击的这个节点
                        //将节点的id(就是数据库中的id) 和节点的name复制给  parent_name和parent_id表单元素
                        $('.parent_name').val(treeNode.name);
                        $('.parent_id').val( treeNode.id);

                    }
                }
            };
            //树的节点数据
            var zNodes = {$zNodes};
            //找到ul,将ul变成一个树结构
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
//            console.debug(zNodes);
//            console.debug(treeObj);
            <empty name='id'>
                        //表示添加,  展开所有的节点
                    treeObj.expandAll(true);
            <else/>
            //编辑. 从treeObj中找到需要被选中的节点对象
            var parent_id = {$parent_id};
//            console.debug(parent_id);
            var node = treeObj.getNodeByParam('id',parent_id); //根据parent_id自己的值,找自己对应的节点
//            console.debug(parent_id);
            treeObj.selectNode(node); //通过树对象treeObj 选中 找到的节点node

            //将选中的节点的名字和id赋值给表单元素
            $('.parent_name').val(node.name);
            $('.parent_id').val( node.id);
            </empty>


        });
    </script>
</block>