<extend name="Common/edit"/>
<block name="css">
    <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css">
</block>
<block name="form">
    <div id="tabbar-div">
        <p>
            <span class="tab-front">通用信息</span>
            <span class="tab-back">详细描述</span>
            <span class="tab-back">会员价格</span>
            <span class="tab-back">商品属性</span>
            <span class="tab-back">商品相册</span>
            <span class="tab-back">关联文章</span>
        </p>
    </div>
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">商品名称</td>
                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">简称</td>
                    <td>
                        <input type='text' name='short_name' maxlength='60' value='{$short_name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品分类</td>
                    <td>
                        <!--保存父分类的ID-->
                        <input type="hidden"  class="goods_category_id" name="goods_category_id" value="{$goods_category_id}">
                        <!--存放父分类名字.-->
                        <input type='text' class="goods_category_name" name='goods_category_name' maxlength='60' value='必须选择最子分类' disabled="disabled"/>
                        <style type="text/css">
                            .ztree{
                                margin-top: 10px;
                                border: 1px solid #617775;
                                background: #f0f6e4;
                                width: 220px;
                                height: auto;
                                overflow-y: scroll;
                                overflow-x: auto;
                            }
                        </style>
                        <ul id="treeDemo" class="ztree"></ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品品牌</td>
                    <td>
                        <!-- 生成下拉框的函数,传入名字和数据便生成一个下拉框-->
                     {:arr2select('brand_id',$brands,$brand_id)}

                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">供货商</td>
                    <td>
                        <!-- 生成下拉框的函数,传入名字和数据便生成一个下拉框-->
                        {:arr2select('supplier_id',$suppliers,$supplier_id)}
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">本店价格</td>
                    <td>
                        <input type='text' name='shop_price' maxlength='60' value='{$shop_price}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">市场价格</td>
                    <td>
                        <input type='text' name='market_price' maxlength='60' value='{$market_price}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品LOGO</td>
                    <td>
                        <input type='file' id="goods_logo" name='goods_logo' maxlength='60'/>
                        <input type='hidden' class="logo" name='logo' maxlength='60'/>
                        <!-- 显示预览图片的div-->
                        <div class="upload-img-box" <empty name="logo"> style="display: none" </empty>>
                            <div class="upload-pre-item">
                                <img src="__GOODS__{$logo}!m">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">库存</td>
                    <td>
                        <input type='text' name='stock' maxlength='60' value='{$stock}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品状态</td>
                    <td>
                        <input type='checkbox' class='goods_status' name='goods_status[]' value='1'/> 精品
                        <input type='checkbox' class='goods_status' name='goods_status[]'  value='2'/> 新品
                        <input  type='checkbox' class='goods_status' name='goods_status[]' value='4'/> 热销
                        <span  class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type='radio' class='status' name='status' value='1'/> 是<input type='radio' class='status'
                                                                                             name='status' value='0'/> 否
                        <span class="require-field">*</span>
                    </td>
                </tr>
            </table>
            <table cellspacing="1" cellpadding="3" width="100%" style="display: none">
                <tr>
                    <td colspan="2">
                        <textarea id="intro" name="intro">{$intro}</textarea>
                    </td>
                </tr>
            </table>
            <table cellspacing="1" cellpadding="3" width="100%" style="display: none">
               <volist name="memberlevels" id="memberlevel">
                   <tr>
                       <td class="label">{$memberlevel.name}</td>
                       <td>
                           <input type='text' name="memberPrice[{$memberlevel.id}]" maxlength='60' value="{$memberPrices[$memberlevel['id']]}"/> <span
                               class="require-field">*</span>
                       </td>
                   </tr>
               </volist>
            </table>
            <table cellspacing="1" cellpadding="3" width="100%" style="display: none">
                <tr>
                    <td class="label">商品属性</td>
                    <td>
                        <input type='text' name='name2' maxlength='60' value='{$name}'/> <span
                            class="require-field">*</span>
                    </td>
                </tr>
            </table>
    <style type="text/css">
        .upload-pre-item{
            display: block;
            float: left;
            margin: 5px;
            position: relative;
        }
        .upload-pre-item a{
            position: absolute;
            right: 0px;
            top: 0px;
        }
    </style>
    <table cellspacing="1" cellpadding="3" width="100%" style="display: none">
        <tr>
            <td>
                <div id="upload-img-box" class="upload-img-box">
                    <!--循环输出每个照片信息-->
                    <volist name="goodsPhotos" id="goodsPhoto">
                        <div class="upload-pre-item">
                            <img src="__GOODS__{$goodsPhoto.path}!m">
                            <a href="javascript:;" dbId="{$goodsPhoto.id}">X</a>
                        </div>
                    </volist>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <hr/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" id="upload-gallery">
            </td>
        </tr>
    </table>
    <table cellspacing="1" cellpadding="3" width="100%">
        <tr>
            <td colspan="3">文章标题: <input type="text" name="keyword" class="keyword"><input class="button searchArticle" type="button" value="搜索"></td>
        </tr>
        <tr>
            <td style="width: 500px"><select class="left" size="10" multiple="multiple" style="width: 500px"></select></td>
            <td>
                操作<br/><br/>
                <input class="left_all_right" type="button" value=">>"><br/><br/>
                <input  class="left_2_right"  type="button" value=">"><br/><br/>
                <input   class="right_2_left"   type="button" value="<"><br/><br/>
                <input class="right_all_left"  type="button" value="<<"><br/>
            </td>
            <td><select  class="right" size="10" multiple="multiple" style="width: 500px"></select></td>
        </tr>
    </table>
            <div style="text-align: center">
                <input type="hidden" name="id" value="{$id}"/>
                <input type="submit" class="button " value=" 确定 "/>
                <input type="reset" class="button" value=" 重置 "/>
            </div>

        </form>
    </div>
</block>
<block name="js">
    <!-- 加载需要的js-->
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.all.min.js"> </script>

    <script type="text/javascript">
        $(function () {
            ////////////////////////////////////////////tab切换////////////////////////////////////////////////////////////////

            //完成tab的切换,找到标签加上点击事件
            $("#tabbar-div span").click(function () {
                //removeClass删除class.addClass添加class
                $("#tabbar-div span").removeClass("tab-front").addClass("tab-back");
                $(this).removeClass("tab-back").addClass("tab-front");
                //得到正在点击的span的索引 用到index
                var index = $(this).index();
                //将所有的table隐藏,在将点击的那个table显示出来
                $(".main-div form table").hide();
                $(".main-div form table").eq(index).show();//显示出点击的索引对应的table

                //当点击的索引为1 也就是点击的是详细描述的时候才初始化在线编辑器
                if(index==1){
//                    alert(index);
       ////////////////////////////////////////////////在线编辑器/////////////////////////////////
                    var editor =  UE.getEditor('intro',{    //第一个参数是表单元素的id   第二个参数是关于在线编辑器的配置
                        initialFrameHeight :400
                    });
                }
            });


    ///////////////////////////////////////////////////分类树/////////////////////////////////////////////////////////////////////

            //树结构的设置
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback: {
                    beforeClick: function(treeId, treeNode){
                        if(treeNode.isParent){
                            //显示出一个提示框
                            layer.msg('必须选中最子分类!', {
                                time:1000,  //等待时间后关闭
                                offset: 0,  //设置位置
                                icon:2,  //设置提示框中的图标
                            });
                        }

                        //商品必须选择到最子分类,返回true,不让用户选中
                        return  !treeNode.isParent;
                    },
                    onClick: function(event, treeId, treeNode){  //treeNode就是点击的这个节点
                        //将节点的id(就是数据库中的id) 和节点的name复制给  goods_category_id和goods_category_name表单元素
                        $('.goods_category_name').val(treeNode.name);
                        $('.goods_category_id').val( treeNode.id);

                    }
                }
            };
            //树的节点数据
            var zNodes = {$zNodes};

            //找到ul,将ul变成一个树结构
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);


            <empty name='id'>
                        //表示添加,  展开所有的节点
                    treeObj.expandAll(true);
            <else/>
            //表示编辑. 从treeObj中找到需要被选中的节点对象
            var goods_category_id = {$goods_category_id};
            var node = treeObj.getNodeByParam('id',goods_category_id); //根据goods_category_id自己的值,找自己对应的节点
            treeObj.selectNode(node); //通过树对象treeObj 选中 找到的节点node

            //将选中的节点的名字和id赋值给表单元素
            $('.goods_category_name').val(node.name);
            $('.goods_category_id').val( node.id);
            </empty>

 /////////////////////////////////////////////////////商品图片上传///////////////////////////////////////////////////
            $("#goods_logo").uploadify({
                height: 30,//插件高
                width: 100,//插件宽
                'buttonText': '上传图片',//插件按钮上显示的文字
                'debug': true,//开启调试模式
                'fileSizeLimit': '10MB',//限制上传图片的最大值为10MB
                'fileTypeExts': '*.jpg;*.jpeg;*.png;*.gif',//允许上传的图片类型
                //上传文件时额外传递过去的参数---->告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
                'formData': {'dir': 'xluo-goods-logo'},
                'swf': '__UPLOADIFY__/uploadify.swf',//这个是flash插件的地址
                'uploader': "{:U('Upload/index')}",//这个是处理插件上传的文件.Upload控制器的index方法
                'onUploadSuccess' : function(file, data, response) {  //data就是响应的 上传后的地址
                    $('.upload-img-box').show(); //显示出div
                    $('.upload-img-box .upload-pre-item img').attr('src','__GOODS__'+data);
                    $('.logo').val(data);  //将上传后的路径同时也放到隐藏域中.. 一起提交给服务器.
                },
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            })
            /////////////////////////////////////////编辑时回显商品状态//////////////////////////////////////////
            <notempty name='id'>
            var selectedGoodsStatus = [];
            var goods_status = {$goods_status};
            if(goods_status & 1){
                selectedGoodsStatus.push(1); //如果商品状态的第一个位上是1. 将1放到数组中
            }

            if(goods_status & 2){
                selectedGoodsStatus.push(2); //如果商品状态的第一个位上是2. 将2放到数组中
            }

            if(goods_status & 4){
                selectedGoodsStatus.push(4); //如果商品状态的第一个位上是4. 将4放到数组中
            }

            $('.goods_status').val(selectedGoodsStatus);
            </notempty>
 ///////////////////////////////////////////////////////////////相册////////////////////////////////////
            $('#upload-gallery').uploadify({
                height        : 30,
                width         : 120,
                'buttonText' : '上传图片', //指定按钮上面的文字
                'debug' : false,  //是否调试
                'fileSizeLimit' : '1MB',   //最大上传大小
                'fileTypeExts' : '*.gif; *.jpg; *.png',  //允许上传的文件
                'formData':{'dir':'xluo-goods-logo'},  //上传文件时额外传递过去的参数---->告知服务器上的IndexController中的index方法将来将文件上传到哪个文件夹下
                // 'fileObjName': 'xxx', //上传该文件时,以什么名字上传..   $_FIELS['Filedata']  . 默认为:Filedata
                'swf'           : '__UPLOADIFY__/uploadify.swf',  //flash插件地址
                'uploader'      : "{:U('Upload/index')}",     //处理上传插件 上传上来的 文件
                'onUploadSuccess' : function(file, data, response) {  //data就是响应的 上传后的地址
                    //上传成功之后将图片预览在页面上 用追加div的方式
                    var imgHtml = '<div class="upload-pre-item">\
                                 <img src="__GOODS__'+data+'!m">\
                               <input type="hidden" name="goods_photo_paths[]" value="'+data+'">\
                               <a href="javascript:;">X</a>\
                               </div>';

                    $('#upload-img-box').append(imgHtml);

                },
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            });

            //删除照片分两种情况来删除... 预览的照片删除时将数据库中也删除. 如果是当前页面新上传还没保存在数据库的,只将页面上的照片删除
            $('#upload-img-box').on('click','a',function(){
                var dbid = $(this).attr('dbid');
                var that = $(this);  //保存起来在ajax的回调函数中使用..

                if(dbid){
                    $.post('{:U("GoodsPhoto/remove")}',{id:dbid},function(data){
                        if(data.status==0){
                            //删除失败时, 提示错误信息
                            layer.msg(data.info,{
                                icon: 2
                            });
                        }else{
                            //删除数据库中数据成功时,删除页面上的div
                            that.closest('div').remove();
                        }
                    });
                }else{
                    //直接删除div
                    that.closest('div').remove();
                }
            });
            //////////////////////////////////////////////相关文章//////////////////////////////////////////////////////////////////////
            $(".searchArticle").click(function(){
                var kw=$(".keyword").val();//得到查询关键字
                $.getJSON('{:U("Article/search")}',{keyword:kw},function(rows){
                    //如果有数据 将rows中的数据变成option放在左边
                    if(rows){
                        $(rows).each(function(){
                            $('<option value="'+this.id+'">'+this.name+'</option>').appendTo('.left');
                        });
                    }
                });

            });

            ////////////////////////////移动/////////////////////////////////////////////////////////////////
            // 左边的全部移动到右边
            $('.left_all_right').click(function(){
                $('.left option').appendTo('.right');
            });
            // 右边的全部移动到左边
            $('.right_all_left').click(function(){
                $('.right option').appendTo('.left');
            });

            // 将左边选中的放到右边
            $('.left_2_right').click(function(){
                $('.left option:selected').appendTo('.right');
            });

            // 将右边选中的放到左边
            $('.right_2_left').click(function(){
                $('.right option:selected').appendTo('.left');
            });

            $('.left').on('dblclick','option',function(){
                $(this).appendTo('.right');
            });
        });
    </script>
</block>