<extend name="Common/index"/>

<block name="list">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>ID <input type="checkbox" class="selectAll"/> </th>
                <!--使用注解中的名称生成了表头-->
                                <th>商品名称</th>
                                <th>简称</th>
                                <th>货号</th>
                                <th>商品分类</th>
                                <th>商品品牌</th>
                                <th>供货商</th>
                                <th>本店价格</th>
                                <th>市场价格</th>
                                <th>商品LOGO</th>
                                <th>库存</th>
                                <th>商品状态</th>
                                <th>是否显示</th>
                                <th>操作</th>
            </tr>
            <volist name="rows" id="row">
                <tr>
                    <td width="30">{$row.id}<input type="checkbox" name="id[]" class="ids" value="{$row.id}"/></td>
                    <td class="first-cell">{$row.name}</td>
                    <td align="center">{$row.short_name}</td>
                    <td align="center">{$row.sn}</td>
                    <td align="center">{$row.goods_category_name}</td>
                    <td align="center">{$row.brand_name}</td>
                    <td align="center">{$row.supplier_name}</td>
                    <td align="center">{$row.shop_price}</td>
                    <td align="center">{$row.market_price}</td>
                    <td align="center"><img src="__GOODS__{$row.logo}!m"/></td>
                    <td align="center">{$row.stock}</td>
                    <td align="center">{$row.goods_status}</td>
                    <td align="center"><a class="ajax_get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>(1-$row['status'])))}"><img src="__IMG__/{$row.status}.gif"/></a></td>
                    <td align="center">
                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                        <a  class="ajax_get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="移除">移除</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="turn-page" class="page">
            {$pageHtml}
        </div>
    </div>
</block>